<app-navbar></app-navbar>
<div class="container">
    
            <app-add-new-task-form (tasksList)="showList($event)"></app-add-new-task-form>
        </div>
        <div class="col lg">
            <div class="row d-flex justify-content-center">
                <div class="col d-flex justify-content-center mt-3">
                    <h3>{{header}}</h3>
                     
                </div> 
            </div>
        </div>
        <div class="col lg d-flex justify-content-center">
            <hr />
            
                <div class="col 4 d-flex justify-content-center m-5">
                    <ul class="collection">
                        <div class="row" *ngFor="let task of tasks; let i = index" [ngSwitch]="task.idDone">
                            <li>
                                <span *ngSwitchCase="false">{{i +1}}. {{task.task}} - {{task.date}} - {{task.hour}}</span>
                                <span *ngSwitchCase="true"><del>{{task.task}} - {{task.date}} - {{task.hour}}</del></span>
                                <button *ngSwitchCase="false" class="btn btn-success m-2" type="button" (click)="markAsDone(task)">
                                    <i class="bi bi-check-circle-fill"></i>
                                </button>
                        
                                <button class="btn btn-danger m-2" type="button" (click)="deleteTask(task);">
                                    <i class="bi bi-x-circle-fill"></i>
                                </button>
                            </li>
                        </div>
                    </ul>
                </div>
            
        </div>

<app-footer></app-footer>

